@import "../scss/bootstrap";

html, body {
height: 100%;
/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */

#app {
min-height: 100%;
height: auto !important;
height: 100%;
/* Negative indent footer by it's height */
margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */

#push, #footer {
height: 60px;
}

.pagination>li>a:not([href]):not([tabindex])
{
    background-color: white;
    color: #6c757d;
}

.pagination>li>a:not([href]):not([tabindex]):focus,
.pagination>li>a:not([href]):not([tabindex]):hover,
.pagination>li>a:not([href]):not([tabindex]).active
{
    color: #eee;
    background-color: #17a2b8;
    border-color: #ddd;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #17a2b8;
    background-color: #17a2b8;
}

h2 {
    border-bottom: solid 3px #ddd;
}

span.done {
    text-decoration: line-through;
    color: #bbb;
}