<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ToDo管理システム</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet">
</head>

<body>
    <div id="app">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container">
                <h1><a href="#" class="navbar-brand"><i class="fas fa-braille"></i> ToDo管理システム</a></h1>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#mainNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mainNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="#todo-list" class="nav-link">ToDo一覧</a>
                        </li>
                        <li class="nav-item">
                            <a href="#create-todo" class="nav-link">新規作成</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="modal" data-target="#modal-create-category">カテゴリ</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a href="https://github.com/OnoYuta" class="nav-link">別のプロジェクト</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="py-3">
                <h2 class="pb-2 mb-4" id="todo-list"><i class="fas fa-list"></i> ToDo一覧</h2>
                <div class="alert alert-dismissible alert-success" role="alert" v-show="!alertDeleteHidden">
                    <button type="button" class="close" data-dismiss="alert"
                        aria-label="Close"><span>&times;</span></button>
                    <strong>成功！</strong>
                    <span> 完了したToDoを削除しました</span>
                </div>
                <form action="" method="GET" id="filter-todos-form" @submit.prevent="filter.filterTodoList"
                    @keydown.enter.prevent="filter.submitByKey">
                    <input id="input-page" type="hidden" name="page" v-model="filter.currentPage">
                    <div class="form-row align-items-end">
                        <div class="form-group col-md-4">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="btn btn-info" type="submit"><i class="fas fa-search"></i></button>
                                </div>
                                <input type="text" id="input-title" class="form-control" placeholder="タイトルに含む文字"
                                    aria-describedby="validationTooltipUsernamePrepend" required name="title"
                                    v-model="filter.searchTitle">
                            </div>
                        </div>
                        <div class="form-group offset-md-4 col-md-4">
                            <select id="input-category" class="form-control" name="category"
                                @change.prevent="filter.filterTodoList" v-model="filter.searchCategory">
                                <option value="0">すべてのカテゴリ</option>
                                <option v-for="i of categories.length" :key="i" :value="i">{{ categories[i - 1] }}
                                </option>
                            </select>
                        </div>
                    </div>
                </form>
                <table class="table table-striped mb-0">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">タイトル</th>
                            <th scope="col">カテゴリ</th>
                            <th scope="col" class="text-center">実施状況</th>
                            <th scope="col" class="text-center">削除</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="todo in todosInList">
                            <th scope="row">{{ todo.id }}</th>
                            <td><span :class="{done: todo.isDone}">{{ todo.title }}</span></td>
                            <td>{{ todo.categoryId }}</td>
                            <td class="text-center">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" :id="'switch-isDone-' + todo.id"
                                        v-model="todo.isDone">
                                    <label class="custom-control-label" :for="'switch-isDone-' + todo.id"></label>
                                </div>
                            </td>
                            <td class="text-center"><button type="button" class="btn btn-dark btn-sm"
                                    @click="deleteTodos([todo.id])" :disabled="!todo.isDone">削除</button>
                            </td>
                        </tr>
                        <tr class="table-light" style="border-top: solid 2px #ddd;">
                            <td colspan="4">
                                <nav>
                                    <ul class="pagination my-0 py-0">
                                        <li class="page-item">
                                            <a @click="filter.previosPage" class="page-link" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                        <li class="page-item" v-for="i of filter.lastPage" :key="i">
                                            <a @click="filter.selectPage(i)" class="page-link"
                                                :class="{active: i === Number(filter.currentPage)}">{{ i }}</a>
                                        </li>
                                        <li class="page-item">
                                            <a @click="filter.nextPage" class="page-link" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </td>
                            <td class="text-center">
                                <a href="" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modal-purge"
                                    :class="purgeClassObject">一括削除</a>
                            </td>
                        </tr>
                        <div class="modal fade" id="modal-purge">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class=“modal-title”>一括削除</h3>
                                        <button class="close" data-dismiss="modal">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        完了したすべてのToDoをまとめて削除します
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">キャンセル</button>
                                        <button class="btn btn-danger" @click="purge" data-dismiss="modal">実行</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tbody>
                </table>
            </div>
            <hr>
            <div class="py-3">
                <h2 class="pb-2 mb-4" id="create-todo"><i class="fas fa-edit pb-2"></i> 新規作成</h2>
                <div class="alert alert-dismissible" role="alert" v-show="!createAlert.isHidden"
                    :class="createTodoClassObject">
                    <button type="button" class="close"
                        @click="createAlert.hideCreateTodoAlert"><span>&times;</span></button>
                    <strong>{{ createAlert.title }}</strong>
                    <span v-if="!createAlert.errors.length"> {{ createAlert.message }}</span>
                    <ul v-else>
                        <li v-for="error in createAlert.errors">{{ error }}</li>
                    </ul>
                </div>
                <form @submit.prevent="addTodo">
                    <div class="form-row align-items-end">
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold d-none d-md-block" for="todoTitle">タイトル</label>
                            <input class="form-control" type="text" id="todoTitle" v-model="newTodoTitle"
                                placeholder="例：犬の散歩">
                        </div>
                        <div class="form-group col-md-4">
                            <label class="font-weight-bold d-none d-md-block" for="todoCategory">カテゴリ
                                <a class="text-info" data-toggle="modal" data-target="#modal-create-category"><i
                                        class="fas fa-plus-circle"></i></a>
                            </label>
                            <select class="form-control" type="text" id="todoCategory" v-model="newTodoCategory">
                                <option selected>未選択</option>
                                <option v-for="category in categories">{{ category }}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <button class="form-control btn btn-info" type="submit"
                                :disabled="!isCreateTodoActive">作成</button>
                        </div>
                    </div>
                </form>
                <div class="modal fade" id="modal-create-category">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form @submit.prevent="addCategory" @keydown.enter.prevent="addCategory">
                                <div class="modal-header">
                                    <h3 class=“modal-title”>カテゴリ追加</h3>
                                    <a class="btn close" @click="createCategory.hideCreateCategoryModal">
                                        <span>&times;</span>
                                    </a>
                                </div>
                                <div class="modal-body">
                                    <div class="alert alert-dismissible" role="alert" v-show="!createCategory.isHidden"
                                        :class="createCategoryClassObject">
                                        <strong>{{ createCategory.title }}</strong>
                                        <span v-if="!createCategory.errors.length"> {{ createCategory.message }}</span>
                                        <span v-else> {{ createCategory.errors[0] }}</span>
                                    </div>
                                    <input class="form-control" type="text" v-model="createCategory.newCategoryName"
                                        placeholder="任意のカテゴリ名を入力">
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-info" type="submit"
                                        :disabled="!isCreateCategoryActive">追加</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="push"></div>
    </div>

    <footer class="footer text-center bg-dark" id="footer">
        <div class="container py-2 bg-dark">
            <p class="text-white-50">ToDo List for personal output, by <a href="https://github.com/OnoYuta"
                    class="text-light">@OnoYuta</a>.
            </p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/main.js"></script>
</body>

</html>